body {
    background-color: #7F617F;
    color: #7BD96C;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #7BD96C;
}

hr {
    height: 1px;
}
.linha-vermelha {
    border-color: #FF3333;
}

.linha-azul {
    border-color: #70A6BF;
}